{% extends "layout.html" %} {% block title %}Title{% endblock %}{% block head %}{{ super() }}
    <meta charset="UTF-8">
    <script src="https://cdn.auth0.com/js/lock/11.22.4/lock.min.js"></script>
{% endblock %} {% block content %}
<body>
<title>Admin dashboard</title>
    <h1>Welcome. This is admin dashboard. </h1>
    <p>Below is list of all registered users. You may click "Edit" next to any user whose information you would like to change.</p>
{{ table }}
    <p>Click <a href="/lightwave">here</a> to go LightWave.</p>
</body>
{% endblock %}
