{% extends "layout.html" %} {% block title %}Title{% endblock %}{% block head %}{{ super() }}
    <meta charset="UTF-8">
    <script src="https://cdn.auth0.com/js/lock/11.22.4/lock.min.js"></script>
{% endblock %} {% block content %}
<body>
    <h1>Welcome. This is admin dashboard. </h1>

    <p>These are the current users, if desired you may change them in the database
    (UI feature might be developed later to allow this functionality in the frontend):</p>
<table>
    <thead>
    <tr>
        <th>Email</th>
        <th>Role Id</th>
    </tr>
    </thead>
    <tbody>
        {% for row in output_data %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <p>Click <a href="/lightwave">here</a> to go LightWave.</p>
</body>
{% endblock %}