
{% extends "layout.html" %} {% block title %}AutoECG{% endblock %}{% block head %}{{ super() }}<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/main_page.css" rel="stylesheet">

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
{% endblock %}
{% block content %}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading" style="margin-bottom:0.5cm;"><font size="6">The University of Texas at Dallas</font></h1>
            <p style="margin-bottom:2cm;">
                <img src="static/lab_logo_border.svg" alt="Logo" width=60% height=60%>
            </p>
            <h1 class="jumbotron-heading">AutoECG</h1>
            <p style="margin-top:2cm;">
                <a class="btn btn-primary btn-lg btn-login btn-block" href="/login" style="width:auto; display:inline-block">Log In</a>
            </p>
        </div>
    </section>
</main>

<svg xmlns="http://www.w3.org/2000/svg" width="348" height="225" viewBox="0 0 348 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body></html>
{% endblock %}