<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="{{ url_for('static', filename='main_page.css') }}" rel="stylesheet"> -->
    {% endblock %}
</head>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">This web application provides analysis of electrocardiograms. It was developed as part of a research project at the University of Texas at Dallas.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="mailto:sa.qoltl@outlook.com" class="text-white">Email: System Administrator</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </div>
</header>
{% block content %}{% endblock %}
<footer>
    <div class="container">
        <p class="text-center">
            {% block footer %}{% endblock %}
            This website is for educational purposes only and should not be used in any diagnostic capacity.
        </p>
    </div>
</footer>
<!-- script src="/static/lightwave/js/jquery.min.js">
    </script> -->
<!-- <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='holder.min.js') }}"></script>

</html>